
<!-- <div id="myModal" class="reveal-modal" data-reveal> -->
  <h3><%= @movie[:title] %> - <%= @movie[:year] %></h3>
    <% if @movie[:rating].to_i >= 60 %>
      <div class="progress large-12 success round">
        <span class="meter" style="width: <%= @movie[:rating].to_i %>%"></span>
      </div>
    <% else %>
    <div class="progress large-12 alert round">
      <span class="meter" style="width: <%= @movie[:rating].to_i %>%"></span>
    </div>
    <% end %>
  <p>
    Rating: <%= @movie[:rating] %>/100
  </p>
  <p>Genre: <%= @movie[:genre] %></p>
  <p>Synopsis:</p>
  <p><%= @movie[:synopsis] %></p>
  <p>Studio: <%= @movie[:studio] %> </p>
  <div class="flex-video">
    <iframe width="420" height="315" src="<%= @url %>" frameborder="0" allowfullscreen></iframe>
  </div>
<!-- </div> -->
