<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Movie Collection</title>
</head>

<body>
  <h1>Nickflix</h1>

  <div class="navigation-container">
    <ul class="nav">
      <li>
        <a href = '/movies' ><h4>Back to the catalog</h4></a>
      </li>
    </ul>
  </div>

<h3><%= @movie[:title] %> - <%= @movie[:year] %> (Rating: <%= @movie[:rating] %>/100)</h3>
<p>Genre: <%= @movie[:genre] %></p>
<p>Synopsis:</p>
<p><%= @movie[:synopsis] %></p>
<p>Studio: <%= @movie[:studio] %> </p>

</body>
</html>
